{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Résultats de l'analyse :</h1>

<div>
    <textarea id="inText" cols="40"></textarea>
    <button type="button" class="btn btn-primary" onclick="sendText()">Analyser !</button>
</div>

<div id="outText"></div>
{% endblock %}

{% block script %}
<script src="{% static 'scripts/spacy.js' %}"></script>
{% endblock %}