{% extends "base.html" %}

{% block content %}
<h1>Variables</h1>
<p>Bonjour {{ utilisateur }}</p>

<ul>
    {% for activité in activités %}
    <li>{{ activité }}</li>
    {% endfor %}
</ul>

<p>Mais j'aime particulièrement le {{ activités.0 }} !</p>
{% endblock %}